<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Nuevo proyecto</h1>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur quasi
      debitis architecto eos unde, iusto neque facilis. Beatae voluptates
      aperiam odio perferendis totam, ullam iure reprehenderit officiis, eos
      exercitationem blanditiis?
    </p>
  </body>
</html>
